.header {background-color:lightskyblue}

.images img {
    width:100%;
}

.images{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-column-gap: 20px;
}


.redirect{
    text-decoration: none 
}